<% if resource.errors.any? %>
  <div>
    <div id="error_explanation" class="text-red-500" data-turbo-cache="false">
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
