<div class="flex flex-col gap-3 md:flex-row md:justify-between mb-4">
  <div class="flex items-center gap-2">
    <div class="text-xm font-bold">
      駐輪場一覧
    </div>
    <%= link_to new_admin_bicycle_parking_path, class: "text-blue-500 hover:text-blue-700" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
        <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd" />
      </svg>
    <% end %>
  </div>
  <div class="flex items-center gap-2 text-xs">
    <%= link_to "ダッシュボード /", admin_root_path, class: "text-gray-500" %>
    <div class="text-blue-500">
      駐輪場一覧
    </div>
  </div>
</div>
<div class="max-w-full overflow-x-auto">
  <table class="w-full table-auto text-left text-xs bg-white">
    <thead class="border-b-2 border-neutral-200">
      <tr>
        <th class="min-w-[150px] px-4 py-2">名称</th>
        <th class="min-w-[240px] px-4 py-2">所在地</th>
        <th class="min-w-[150px] px-4 py-2">開場時間</th>
        <th class="min-w-[95px] px-4 py-2">ステータス</th>
        <th class="min-w-[50px] px-4 py-2"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @bicycle_parkings %>
    </tbody>
  </table>
</div>
