<div class="text-xm font-bold px-4 mb-4">
  駐輪場一覧
</div>
<table class="w-full text-left text-xs">
  <thead class="border-b-2 border-neutral-200">
    <tr>
      <th class="px-4 py-2">名称</th>
      <th class="px-4 py-2">所在地</th>
      <th class="px-4 py-2">開場時間</th>
      <th class="hidden md:block px-4 py-2">ステータス</th>
      <th class="px-4 py-2"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @bicycle_parkings %>
  </tbody>
</table>
