<table class="w-full text-left text-sm">
  <thead class="border-b border-neutral-200">
    <tr>
      <th class="px-4 py-2">名称</th>
      <th class="px-4 py-2">所在地</th>
      <th class="px-4 py-2">開場時間</th>
      <th class="hidden md:block px-4 py-2">ステータス</th>
      <th class="px-4 py-2"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @bicycle_parkings %>
  </tbody>
</table>
